# Sensitive Data
.env
cookies.txt
*.cookies

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Logs
*.log

# Cache
.cache/
*.cache

# yt-dlp
*.part
*.ytdl
*.temp.*

# Stats & Panel store
stats_store.json
panel_store.json

# Downloaded media
*.mp4
*.webm
*.mp3
*.m4a

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store